node_modules/
dist/
release/
*.exe
.vscode/
Popup Pill Design.zip
Leakling-website-deploy.zip
Leakling Desktop UI v3.zip
Leakling Popup Pill Design v2.zip
Leakling Results page design default.zip
Leakling Results page design monochrome.zip
